.filter-container{
    display: flex;
    justify-content: center;
    margin: 50px auto;
    max-width: 1100px;
    padding: 0 20px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}
.filter-container  div{
    width: 50px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.filter-container img{
    height: 20px;
}
.more-filters{
    width: 70px;
    display: flex;
    align-items: center;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-around;
    font-weight: 700;
}
.filter-container div:hover{
    cursor: pointer;
}

@media (max-width: 768px){
.filter-container {
        display: flex;
        justify-content: left;
        margin: 20px auto;
        max-width: 100%;
        text-align: center;
        font-size: 12px;
        overflow: hidden;
        overflow-x: auto;
    }
}