.footer{

    background-color: #F0F0F0;
}
.footer li{
    line-height: 30px;
    font-size: 14px;
}
.links{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px 100px;
    justify-content: space-between;
    min-height: 307px;


}
.links > div{
    margin-right: 100px;
    margin-bottom: 50px;

}
.links li{
    list-style-type: none;
}
.footer-foot{
    border-top: 1px solid #b8b8b8;
    margin: 0 100px;
    min-height: 69px ;
}
.quick-links{
    font-weight: bold;
}
.footer-foot {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    flex-wrap: wrap;
}
.footer-foot div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}
.copyright-privacy{
   width: 400px;
    justify-content: space-between;
}

.privacy-policy{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.privacy-policy span{
    margin: 5px;
    display: inline-flex;
    transform: translateY(-25%);

}
.copyright{
    margin-right: 15px;
}
.privacy-icon{
    background-color: #0066FF;
    border-radius: 10px;
    width: 26px;
    height: 12px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 7px;
}
.privacy-check{
    height: 9px;
    width: 50%;
    background-color: white;
    border-radius: 15px 0 0 15px;
    transform: translateX(1px);
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-left: 3px;
    transform: translateX(1.5px);
}
.privacy-ex{
    height: 9px;
        width: 50%;
        background-color: #0066FF;
        border-radius: 0 10px 10px 0;
        transform: translateX(-1px);
        display: flex;
        flex-direction: row;
        justify-content: end;
        padding-right:3px ;

    
    }
.privacy-icon img{
    height: 6px;
    z-index: 3;
    
}
.skew{
    position:absolute;
    width: 3.7px;
    height: 9px;
    transform: skewX(-20deg);
    background-color: white;
    left: 9.8px;
    z-index: 2;

}
.social{
    font-size: 12px;
}
.language-social{
    display: flex;
    align-items: center;
    width: 250px;
    justify-content: space-between;
}
.language img{
    margin: 0 10px 0 0;
}
.language p {
    font-weight: 700;
}
.currency img{
    margin: 0 3px;
}
.currency p{
    font-weight: 1000;
}
.social img{
    margin: 2px;
}

@media screen and (max-width:576px) {
    .links{
        padding-left: 20px;
    } 
    .footer-foot {
        border-top: 1px solid #b8b8b8;
        margin: 0 10px;
        min-height: 69px;
    }
}