.multi-search{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    max-width: 650px;
    box-shadow: 0 0 5px hsl(0 0% 78%);
    height: 56px;
    border-radius:  28px;
    display: flex;
    justify-content: center;
    font-size: 0.6rem;
    position: relative;
    margin: 10px auto 45px auto;
    overflow: hidden;

}


.location, .in-check, .out-check, .who{
    border-radius: inherit;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;   
}
.multi-search>div p{
    font-size: 14px;

} 

.location{
    width: 40%;
    padding-left: 4%;
}
.in-check, .out-check{
    padding-left: 4%;
    
}
.who {
    width: 40%;
    padding-left: 4%;
}

.multi-search div:hover{
    background-color: rgb(204, 203, 203);
    transition: 0.2s ease;
}
.multi-search>div:hover input{
    background-color: rgb(204, 203, 203);
    transition: 0.2s ease;
}

.multi-search>div input:focus{
    outline: none;
}
.search-icon{
    position: absolute;
    right: 0%;
}
.search{
    font-size: 52px;
    color: blue;
    
}
.search-border{
    width: 0.5px;
    background-color: #eae8e8;
    height: 80%;
}
.multi-search:hover .search-border {
    display: none;
}
@media (max-width:768px) {
    .multi-search{
        margin-bottom:0;
    }
    .location,
    .in-check,
    .out-check,
    .who-p, .who-i, .search-border {
        display: none;
    }
    .search-icon{
        display: flex;
    }
}
