.amenities-list{
    list-style-type: disc;
  
}
.amenities-list li{
    margin: 10px 40px 20px 0px;
    width: 200px;

}
@media screen and (max-width:639px ) {
    .amenities-list li {
        margin: 10px 40px 20px 0px;
        width: 80%;
    
    }
}