.check-in-out{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50px 57px;
        width: 100%;
        overflow: hidden;
        
}
.check-in{
    grid-column: 1;
    grid-row: 1;
    width: 100%;
}
.check-out{
    grid-column: 2;
    grid-row: 1;
    width: 100%;

}
.check-in-out label{
    font-weight: 700;
    font-size: 12px;
}
.check-in-out input {
    font-weight: 600;
    font-size: 12px;
}
.guest-no{
    grid-column: 1/3;
    grid-row: 2;
    width: 100%;
}
.reserve-btn{
    background: linear-gradient(to right, #0066FF, #007BE5, #0E3FF2), radial-gradient(#FFFFFF, #000000);
}